/* // Custom _________________________________________________ */

.logogr {
  max-width: 90%;
  width: 600px;
  height: auto;
}

.logomd {
  max-width: 90%;
  width: 450px;
  height: auto;
}

.green {
  color: #00c489;
}

.gray {
  background-color: #ddd;
  border-radius: 15px;
}

.darkgray {
  background-color: #353b43;
  border-radius: 15px;
  color: #fff;
};

.icogrey {
  color: red;
}

.pad-15 {
  padding: 15px;
}

.pad-30 {
  padding: 30px 30px;
}

.white {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.icon-big {
  font-size: 18px;
}

.wid-100 {
  width: 100px;
  height: 100px;
}

.wid-50 {
  width: 50%;
}

.border {
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  height: 1px;
  margin: 15px auto 0;
  position: relative;
  width: 30%;
  margin-bottom: 20px;
}
.border:before {
  background-color: #fff;
  content: "";
  height: 6px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  top: -4px;
  width: 50px;
  background-color: #00f985;
}

.video-wrap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    max-width: 1920px;
    margin: 0 auto;
}
    .video-wrap iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 1080px;
}

.feature-info {
  color: #888;
}

.feature-info i {
  font-size: 35px;
  background: #353b43;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #00c489;
}

ul.checkmark {
  list-style: '➜ '; 
  color: #00c489 ;
}

ul.check {
  list-style: '✓ '; 
  color: #00c489 ;
}

ul span {
  color: #6c757d;
}

.greenmid {
  color: #00c489;
}

.darkgreen {
  color: #036d21;
}

.hei-90 {
  height: 90px;
}


.mt-60 {
  margin-top: 60px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-10 {
  margin-top: 10px;
}

.mb-60 {
  margin-bottom: 60px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-10 {
  margin-bottom: 10px;
}

.f-md {
  font-size: 1.1em;
}

.font-18 {
  font-size: 18px;
  color: #000;
}

.font-20 {
  font-size: 20px;
  color: #000;
}

.font-25 {
  font-size: 25px;
  color: #000;
}

.hero.page-info, .hero.page-info > .container > .row {
  height: 40vh;
  min-height: 350px; }

/* .parallax {
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
} */

.socialicon {
  color: #ced4da;;
}

.whatsapp {
    position: fixed;
    top: 75%;
    right: 1%;
    padding: 10px;
    z-index: 10000000;
}

